/*通话详情callDetail.jsp页面的“flash事件”标签页面*/
/*包含“flash调节”的最外层边框*/
#callerdetail_flashEventInfo{
	border:2px solid RGB(217, 46, 0);
	padding:2px;
}

/*包含“flash事件”中两个子标签的外层边框*/
#flashEventInfo01{
	border:2px solid RGB(37,160,241);
}


<!--
UL.flashEventInfo_tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: RGB(209,223,236);
	line-height: 25px;
}

UL.flashEventInfo_tabs LI {
	display: inline;
}

UL.flashEventInfo_tabs LI A {
	padding: 3px 5px;
	background-color: RGB(209,223,236);
	text-decoration: none;
	font-size: 12px;
	border: thin solid RGB(255,255,225);
}
/*点击后*/
UL.flashEventInfo_tabs LI A.selected,UL.flashEventInfo_tabs LI A:hover {
	background-color: RGB(37,160,241);
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 7px;
	border:none;
}

UL.flashEventInfo_tabs LI A:focus {
	outline: 0;
}
-->