body {
	margin: 6px;
	padding: 0;
	font-size: 12px;
	font-family: tahoma, arial;
	background: #fff;
}

table {
	width: 100%;
}

tr.odd {
	background: #fff;
}

tr.even {
	background: #eee;
}

div.datagrid_div {
	width: 100%;
	border: 1px solid #999;
}

table.datagrid2 {
	border-collapse: collapse;
}

table.datagrid2 th {
	text-align: left;
	background: #9cf;
	padding: 3px;
	border: 1px #333 solid;
}

table.datagrid2 td {
	padding: 3px;
	border: none;
	border: 1px #333 solid;
}

/* tr:hover,tr.hover {
	background: #9cf;
} */