<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
     http://www.springframework.org/schema/jee
       http://www.springframework.org/schema/jee/spring-jee-2.5.xsd"
	default-autowire="byName">

	<context:component-scan base-package="com.redcdn.monitor" />

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<!-- <constructor-arg>
			<bean
				class="org.springframework.http.client.CommonsClientHttpRequestFactory">
				<property name="readTimeout" value="${httpClient.readTimeOut}" />
			</bean>
		</constructor-arg> -->
		<property name="messageConverters">
			<list>
				<bean id="resourceHttpMessageConverter"
					class="org.springframework.http.converter.ResourceHttpMessageConverter"/>
				<bean id="stringHttpMessageConverter"
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="writeAcceptCharset" value="false" />
				</bean>
				<bean id="formHttpMessageConverter"
					class="org.springframework.http.converter.FormHttpMessageConverter">
					<property name="charset" value="utf-8" />
				</bean>
				<bean id="mappingJacksonHttpMessageConverter"
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
				<bean id="jaxb2RootElementHttpMessageConverter"
					class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<bean id="restTemplateProxy" class="com.redcdn.monitor.ws.proxy.RestTemplateProxy">
		<property name="baseUrl" value="${das_server_url}" />
	</bean>
</beans>
